@{
    ViewBag.Title = "Home Page";
}

@model COVID19Web.Model.ViewModel.RetrieveDataViewModel
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <h4>Search NSW COVID-19 Case by Postcode</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Postcode, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @placeholder = "2000" })
                    @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-md-12">

                    @{

                        if (Model.NSWCaseStatisticsVM != null)
                        {
                            <p>
                                <b># NSW case statistics #</b>   <span style="font-size:10px;">- www.health.nsw.gov.au</span>
                            </p>
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        Case
                                    </th>
                                    <th align="center">
                                        Count
                                    </th>

                                </tr>

                                @foreach (var item in Model.NSWCaseStatisticsVM)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td style="color:blue;" align="right">
                                            @Html.DisplayFor(modelItem => item.Count)
                                        </td>

                                    </tr>
                                }

                            </table>

                            <span style="font-size:10px;"> 	&nbsp;	&nbsp;Note: <a href="https://www.health.nsw.gov.au/Infectious/diseases/Pages/covid-19-latest-updates.aspx">1,2</a></span>
                            <hr />
                        }

                        if (Model.Suburbs != null)
                        {
                            @:<p>
                                @:<b>Suburbs:</b>
                                foreach (var item in Model.Suburbs)
                                {
                                    @Html.DisplayFor(modelItem => item) @: ,
                                }
                                @:
                            @:</p>
                        }

                        if (Model.DetailsResult != null)
                        {

                            @:<p>
                                <b style="color:red;font-size:medium">
                                    @Model.DetailsResult.Count()
                                </b> @: people were confirmed positive.

                                @:
                            @:</p>
































































                            if (Model.DetailsResult.Count() != 0)
                            {
                                <table class="table table-striped">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DailyCountResult.First().Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DailyCountResult.First().Count)
                                        </th>

                                    </tr>

                                    @foreach (var item in Model.DailyCountResult)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Count)
                                            </td>

                                        </tr>
                                    }

                                </table>

                                @Html.ActionLink(" More details", "Details", "Home", new { @postcode = Model.Postcode }, htmlAttributes: new { title = "Confirmed cases details.", @class = "btn btn-link btn-sm" })
                                @Html.ActionLink("Go home", "Index", "Home", new { @class = "btn btn-link btn-sm" })
                            }
                        }
                        else
                        {
                            <p></p>
                            <img src="https://www.health.nsw.gov.au/Infectious/diseases/PublishingImages/covid-19-age-group-gender.png" class="img-responsive" alt="source: health.nsw.gov.au">

                            <p></p><p></p>
                            <img src="https://www.health.nsw.gov.au/Infectious/diseases/PublishingImages/covid-19-source.png" class="img-responsive" alt="source: health.nsw.gov.au">
                            @:<p align="right" style="padding-right:1em"><a href="https://www.health.nsw.gov.au/Infectious/diseases/Pages/covid-19-latest.aspx#statistics"><img src="https://data.nsw.gov.au/data/images/NSW-Health.png" height="30"></a></p>
                            <hr />
                        }
                        if (Model.NSWCount != null)
                        {
                            @:<p>
                                @:<b>NSW Total confirmed cases: </b>  <b style="color:red;font-size:medium">
                                    @Model.NSWCount @:
                                @:</b>
                            @:</p>
                            <p>Search time: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                        }
                        else
                        {
                            <p><b># Case in Australia #</b></p>

                            <img src=@Model.AustraliaAndWorldCaseStatisticsVM.AustraliaCasesGraphLink class="img-responsive" alt="source: health.nsw.gov.au">

                            if (Model.AustraliaAndWorldCaseStatisticsVM != null)
                            {
                                <br /><br />
                                @:<p style="color:blue">@Model.AustraliaAndWorldCaseStatisticsVM.AustraliaCases</p>
                                @:<p style="color:blue">@Model.AustraliaAndWorldCaseStatisticsVM.WorldCases</p>
                            }


                            @:<p align="right" style="padding-right:1em"><a href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-current-situation-and-case-numbers#current-status"><img src="https://www.health.gov.au/sites/default/themes/custom/health/images/DoHCrest.png" height="30"></a></p>

                            @:<span style="font-size:small"><br />Note: Because the data update time of each website is not synchronized, the display may be different.</span>

                        }
                    }

                </div>
            </div>
        }

    </div>
</div>